<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  "name": "Educazione del Cane e del Proprietario",
  "description": "Servizio di consulenza cinofila personalizzata a Modena. Educatrice Giulia Balugani.",
  "url": "https://educazionecanemodena.it",
  "telephone": "+393714841057",
  "email": "gbeducazione@gmail.com",
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Modena",
    "addressRegion": "MO",
    "addressCountry": "IT"
  },
  "areaServed": {
    "@type": "GeoCircle",
    "geoMidpoint": {
      "@type": "GeoCoordinates",
      "latitude": 44.6471,
      "longitude": 10.9252
    },
    "geoRadius": "30000"
  },
  "founder": {
    "@type": "Person",
    "name": "Giulia Balugani"
  }
}
</script>
