{{ define "main" }}
<section class="section-sm">
  <div class="container">
    <div class="row justify-center">
      <div class="md:col-10 lg:col-7 text-center">
        {{ partial "image" (dict "Src" .Params.image "Alt" .Title "Class" "mx-auto mb-6" "Size" "500x500") }}
        <h2 class="h3 mb-6">{{ .Title }}</h2>
        <div class="content" align="justify">


          Ciao, sono Giulia Balugani, fondatrice di Educazione del Cane e del Proprietario e mi occupo di cinofilia dal
          2016.
          Negli ultimi anni ho aiutato più di 150 cani ed i loro proprietari a comunicare nella maniera corretta
          migliorando la loro relazione.
          <br>
          <br>
          Nel 2013 mi sono diplomata al Liceo Scientifico Alessandro Tassoni di Modena.
          Nel 2018 mi sono laureata con lode in Scienze Naturali.
          Contemporaneamente all’università ho frequentato l’istituto di Zooantropologia Applicata “ThinkDog”, dove mi
          sono diplomata nel 2019, ottenendo le qualifiche di Educatore Cinofilo ed Esperto Cuccioli.
          Ho prestato servizio volontario al canile Centro Soccorso Animali di Modena per 6 anni al fianco di istruttori
          cinofili dalla grande preparazione, durante i quali ho avuto la possibilità di lavorare con un gran numero di
          cani, di ogni taglia e tipologia.
          Mi sono quindi iscritta al Master in Istruzione e Rieducazione Comportamentale dell’Universita di Medicina
          Veterinaria di Parma, dove mi sono diplomata nel 2023 con la qualifica di Istruttore Cinofilo in
          Riabilitazione Comportamentale del cane. Durante il master, oltre a proseguire il lavoro con i miei clienti,
          ho fatto tirocinio insieme ad Istruttori Cinofili e Veterinari Comportamentalisti a Parma, a Novara, a Ferrara
          ed al canile Gruppo Zoofilo Carpigiano, testando le mie capacità ed ampliando la mia gamma di tecniche di
          intervento per aiutare i cani e le persone ad affrontare le più disparate problematiche, dall’educazione alla
          patologia comportamentale vera e propria.
          <br>
          <br>
          La mia formazione in costante aggiornamento e l’esperienza maturata fino ad oggi in scuole e contesti
          variegati mi hanno permesso di elaborare un mio approccio all’educazione del cane che passa prima di tutto dal
          fornire al proprietario le più aggiornate nozioni scientifiche su come funziona la mente del cane, per poi
          metterle direttamente in pratica con semplici esercizi che vi permetteranno di farle vostre in breve tempo.
          Grazie a questo metodo tu ed il tuo cane potrete comunicare in maniera più semplice ed intuitiva, capirvi
          meglio ed in questo modo creare una solida relazione basata sulla fiducia reciproca.
          <br>
          <br>
          L’ho chiamato metodo del L.E.G.A.M.E.

        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}